<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>weixin</string>
		<string>wechat</string>
		<string>alipay</string>
		<string>safepay</string>
		<string>uppaywallet</string>
		<string>weixinULAPI</string>
		<string>alipays</string>
		<string>kakaokompassauth</string>
		<string>kakaolink</string>
		<string>uppaysdk</string>
		<string>uppayx1</string>
		<string>uppayx2</string>
		<string>uppayx3</string>
		<string>gcash</string>
		<string>alipayhk</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>cpaydemo</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>cpaydemo.citconpay.com</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
